*{
 padding:0;
 margin:0;
 box-sizing:border-box;
}

.header{
	text-align:center;
	text-transform:uppercase;
	color:black;
	margin:30px;
	background:skyblue;
	font-weight:bold;
	
}

h3{
	
	height:70px;	
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

p{
	height:150px;
}

h3:hover{ 
	 cursor:pointer; 
} 